@{
    ViewData["Title"] = "Customer Support";
}
    
@{
    <div class="row">
        <iframe src='https://webchat.botframework.com/embed/onlineshopchatbot-bot?s=ATclOcUwX80.FliqElCMt9MfYdOcOfUKd6YoPuXFdLxPfaFRKWpiITY'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
    </div>
}
